@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
* {
	font-family: Raleway, sans-serif;
}
a{
	text-decoration: none;
	color: black;
}
header{
	margin-left: 50px;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	align-items: center;
}
.logo{
	width: 95px;
	padding-top: 22px;
}
.btn.accom{
	grid-column: 7;
	text-align: center;
	color: #0065FC;
	padding-top: 2em;
	margin-bottom: 2em;
	border-top: 2px solid #0065FC;
}
.btn.acti{
	grid-column: 8;
	text-align: center;

}
.signup{
	margin-left: 2em;
	grid-column: 9;
	text-decoration: none;
	justify-content: center;
	color: #0065FC;
}
.btn{
	color: black;
	text-decoration: none;
	padding-top: 2em;
	margin-bottom: 2em;
}
.btn:focus{
	padding-top: 2em;
	margin-bottom: 2em;
	border-top: 2px solid #0065FC;
	color: #0065FC;
	cursor: pointer;
}
.btn:hover{
	padding-top: 2em;
	margin-bottom: 2em;
	border-top: 2px solid #0065FC;
	color: #0065FC;
	cursor: pointer;
}
/* mise en page sec1 */
.sec1{
	margin-left: 50px;
}
form{
	margin-bottom: 2em;
}
.fa-map-marker-alt{
	font-size: 1.25em;
	background-color: #f2f2f2;
	padding: 15px 18px 15px 18px;
	border-radius: 1em 0 0 1em;
}
#search{
	width: 14em;
	font-weight: bold;
	border: 2px solid #F2F2F2;
	border-right: none;
	border-left: none;
	padding: 17px 24px 13px 24px;
	margin-left: -5px;
}
#submit{
	color: white;
	font-weight: bold;
	background-color: #0065fc;
	border:none;
	border-radius: 0 1em 1em 0;
	padding: 18.5px 23.5px 15px 23.5px;
	margin-left: -4px;
	cursor: pointer;
}
#sub{
	display: none;
}
.filter{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.gr{
	border:2px solid #f2f2f2;
	border-radius:2em;
	margin-right: 1.5em;
}
.gr:hover{
	background-color: #0065FC;
}
.gr:hover >a{
	color: #deebff;
	transform: scale(1.015);
}
.gr:hover >i{
	color: #deebff;
	background-color: #0065fc;
}
.gr a{
	font-weight: bold;
	padding: 13.5px 29px 13.5px 17px;
}
#gr{
	display: flex;
	flex-direction: row;
	margin-left: 1em;
}
.fa-money-bill-wave{
	color: #0065fc;
	background-color: #deebff;
	border-radius: 100%;
	padding:17px 15px 17px 15px;
}
.fa-child{
	color: #0065fc;
	background-color: #deebff;
	border-radius: 100%;
	padding:17px 19px 17px 19px;
}
.fa-heart{
	color: #0065fc;
	background-color: #deebff;
	border-radius: 100%;
	padding:17px 17px 17px 17px;
}
.fa-dog{
	color: #0065fc;
	background-color: #deebff;
	border-radius: 100%;
	padding:17px 16px 17px 16px;
}
#info{
	color: #0065fc;
	border-radius: 100%;
	border:2px solid #f2f2f2;
	font-size: 0.8em;
	padding:9px 13px 9px 13px;
	margin-right: 1em;
}
/* mise en page section2 */
.sec2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.art1{
	width: 780px;
	background-color: #f2f2f2;
	border-radius: 1em;
	margin-left: 50px;
	padding: 25px 40px 0 40px;
}
.art2{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.pict{
	height: 190px;
	width: 236px;
	background-color: white;
	border:5px solid white;
	border-radius: 1em;
	margin-bottom: 2em;
	box-shadow:5px 5px 16px #E4E4E4;
}
.picture1{
	height: 114px;
	width: 236px;
	border-radius: 1em 1em 0 0;
	object-fit: cover;
}
.link1 h3{
	margin: 0em;
}
.link1 p{
	margin: 0.25em 0 0.5em 0;
}
.blue{
	color: #0065FC;
}
.grey{
	color: #D9D9D9;
}
.pin{
	font-weight: bold;
	font-size: 1.25em
}
/* mise page aside */
aside{
	width: 340px;
	background-color: #f2f2f2;
	border-radius: 1em;
	margin-right: 50px;
	padding: 25px 40px 0 40px;
}
.asi1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#chart{
	font-size: 1.5em;
}
.vignette{
	height: 134px;
	width: 333px;
	background-color: white;
	border-radius: 1em;
	border:5px solid white;
	margin-bottom: 2em;
	box-shadow:5px 5px 16px #E4E4E4;
}
.picture2{
	height: 134px;
	width: 127px;
	border-radius: 1em 0 0 1em;
	object-fit: cover;
	float: left;
}
.link2 h3{
	margin: 0 0 0 7.5em;
}
.link2 p{
	margin: 0.3em 0 2.5em 8.75em; 
}
.link2 div{
	margin-left: 8.75em;
}
/* mise en page section3 */
.sec3{
	margin:0 50px 0 50px;
}
#activités{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.picture3{
	width: 302px;
	height: 445px;
	box-shadow:5px 5px 16px #E4E4E4;
	border-radius: 1em;
	margin: 0em;
}
.picture3 img{
	width: 302px;
	height: 390px;
	object-fit: cover;
	border-radius: 1em 1em 0 0;
}
.picture4{
	width: 302px;
	height: 236px;
	box-shadow:5px 5px 16px #E4E4E4;
	border-radius: 1em;
	margin:0 0 2.75em 0;
}
.picture4 img{
	width: 302px;
	height: 180px;
	object-fit: cover;
	border-radius: 1em 1em 0 0;
}
.picture5{
	width: 302px;
	height: 165px;
	box-shadow:5px 5px 16px #E4E4E4;
	border-radius: 1em;
	margin:0 0 3em 0;
}
.picture5 img{
	width: 302px;
	height: 109px;
	object-fit: cover;
	border-radius: 1em 1em 0 0;
}
.picture6{
	width: 302px;
	height: 195px;
	box-shadow:5px 5px 16px #E4E4E4;
	border-radius: 1em;
	margin:0 0 2.5em 0;
}
.picture6 img{
	width: 302px;
	height: 140px;
	object-fit: cover;
	border-radius: 1em 1em 0 0;
}
.picture7{
	width: 302px;
	height: 210px;
	box-shadow:5px 5px 16px #E4E4E4;
	border-radius: 1em;
	margin:0 0 3em 0;
}
.picture7 img{
	width: 302px;
	height: 153px;
	object-fit: cover;
	border-radius: 1em 1em 0 0;
}
figcaption{
	font-weight: bold;
	margin: 1em 0 1em 1em;
}
/* css footer */
footer{
	background-color: #f2f2f2;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 218px;
}
footer h2{
	display: inline;
}
footer div{
	display: flex;
	flex-direction: column;
	margin:0 170px 0 50px;
}
footer a{
	margin-bottom: 1em;
}
@media all and (max-width:375px)
{
	header{
	display: grid;
	grid-template-columns: 1fr 0 0 0 0 0 0 0 1fr;
	grid-template-rows: 1fr 1fr;
	margin: 0;
	}
	.logo{
		grid-column: 1;
	}
	.signup{
		grid-column: 2;
		margin:2em 0 0 4em;
		align-items: center;
	}
	.btn.accom{
		grid-column: 1;
		grid-row: 2;
		border-top: none;
		border-bottom: 2px solid #0065fc;
	}
	.btn.acti{
		grid-column: 2;
		grid-row: 2;
		width: 171px;
		margin-left: 0em;
	}
	.btn.acti:hover{
		border-top: none;
		border-bottom: 2px solid #0065fc !important;
	}
	/* responsive section1*/
	.sec1{
		margin-left: 0;
	}
	form{
		display: flex;
		flex-direction: row;
		margin-left: 1em;
		margin-right: 1em;
	}
	#search{
		width: 14em;
	}
	#submit{
		display: none;
	}
	#sub{
		display: flex;
		color: white;
		background-color: #0065fc;
		position: relative;
		right: 10px;
		border-radius: 1em;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
	}
	.filter{
		flex-direction: column;
		align-items: flex-start;
	}
	.filter p{
		margin-left: 1em;
	}
	#gr{
		flex-wrap: wrap;
		margin-left: 0;
	}
	.gr{
		margin-right: 0.5em;
	}
	.gr a{
		padding-right: 17px; 
	}
	/* responsive section2*/
	.sec2{
		display: flex;
		flex-direction: column-reverse;
	}
	.art1{
		width: auto;
		margin-left: 0;
	}
	.art2{
		flex-direction: column;
	}
	aside{
		margin: 0 0 1em 0;
		padding: 0;
		width: 100%;
		border-radius: 0;
	}
	.vignette{
		justify-content: space-between;
		margin-right: 0;
	}
	/* respnsive sec3 */
	.sec3{
		margin:0 0 0 20px;
	}
	#activités{
		display: flex;
		flex-direction: column;
		width: auto;
	}
	/* responcive footer */
	footer{
		display: flex;
		flex-direction: column;
		height: auto;
		margin-left: 0;
	}
	footer div{
		margin: 0;
	}
}
@media all and (max-width: 768px){
	header,section{
		margin: 0em;
	}
	header{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	align-items: center;
	}
	.logo{
		grid-column: 1;
	}
	.signup{
		grid-column: 2;
		text-align: end;
		margin-top: 2em;
		margin-right: 4em;
	}
	.btn.accom{
		grid-column: 1;
		grid-row: 2;
		border-top: none;
		padding-top: 2em;
	}
	.btn.acti{
		grid-column: 2;
		grid-row: 2;
		border-top: none;
		padding-top: 2em;
	}
	.btn:hover{
		border-bottom: 2px solid #0065FC;
		padding-top: 2em;
		margin-bottom: 1em;
	}
	.btn:focus{
		border-top: none;
		border-bottom: 2px solid #0065FC;
	}
	.title p{
		text-align: center;
		margin-right: 6em;
	}
	form{
		margin-left: 6em;
	}
	.filter{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.filter p{
		margin-left: 3em;
	}
	#gr{
		flex-wrap: wrap;
	}
	.gr{
		margin-left: 1em;
		display: flex;
		flex-direction: row;
	}
	.sec2{
		display: flex;
		flex-direction: column-reverse;
	}
	.art1{
		width: 90%;
		margin-left: 1em;
		padding: 15px 40px 15px 15px;
	}
	.art2{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.pin{
		margin-left: 2em;
	}
	aside{
		width: 50%;
		justify-content: center;
		margin:0 1em 1em 20%;
		padding-left: 20px;
	}
	#asi2{
		align-items: center;
	}
	.vignette{
		width: 345px;
	}
	.picture2{
		display: flex;
		float: left;
	}
	#activités{
		margin-left: 0em;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	footer{
		height: auto;
		display: flex;
		flex-direction: row;
	}
	footer div{
		margin: 0 4em 0 0;
	}
@media all and (min-width:1441px){
	.art1{
		width: 55%;
	}
	.art2{
		margin-right: 4em;
		justify-content: space-around;
	}
	aside{
		width: 25%;
	}
}